.badge-top-rated {
    background-color: #ff4e00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.badge-popular {
    background-color: rgb(13,113,253);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.badge-new {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}