.badge-top-rated {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.badge-popular {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.badge-new {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}