body {
  font-family: 'Quicksand', sans-serif !important;
  overflow-x: hidden;
}
.highlight { color: #f97316; }
.pr-5 { padding-right: 3rem !important; }
.pl-5 { padding-left: 3rem !important; }
.ml-5 { margin-left: 3rem !important; }
.mr-5 { margin-right: 3rem !important; }
.row { margin: 0 auto; }
.text-red { color: red; }
/* .scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #007bff;
  color: white;
  padding: 12px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
} */

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #007bff;
  color: white;
  
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.scroll-to-top:hover {
  background: #0056b3;
  transform: translateY(-3px);
}
.bg-grey { background-color: #f8f8f8 !important; }
.pb-5 { padding-bottom: 3rem !important; }
.pt-5 { padding-top: 3rem !important; }
.mt-5 { margin-top: 3rem !important; }
.mb-5 { margin-bottom: 3rem !important; }
.text-red { color: #dc3545 !important; }
.text-blue { color: #1142A2 !important; }
.text-green { color: #11A242 !important; }
.text-magenta { color: #A21142 !important; }
.text-deep-blue { color: #2E4765 !important; }  
.bg-color {
  min-height: 100%;
  /* background: linear-gradient(135deg, #4e73df, #1cc88a); */
  /* background: linear-gradient( 120deg, rgb(249, 115, 22), rgb(250, 204, 21), rgb(220, 38, 38) ); */
  background: radial-gradient(
    circle at center center,
    rgb(250, 204, 21) 0%,
    rgb(249, 115, 22) 60%,
    rgb(220, 38, 38) 100%
  );
  
}
.text-justify { text-align: justify; text-justify: distribute; }
.grecaptcha-badge { 
  bottom: 80px !important;
}
/* Floating WhatsApp Button */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px; /* Kept on the left side to avoid overlapping your scroll-to-top button */
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #20ba5a;
  color: #fff;
}

/* Optional: Smooth fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
  .grecaptcha-badge {
    bottom: 85px !important; 
  }
  .bg-color {
    
    text-align: center;
  }
}
